# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class
.venv
*.pyc
*audio_data/
*tmp/
*TL/
*test/
*ignore/

# ignore env files
.env

# ignore files/directories in dataroom
bedrock/dataroom/*
!bedrock/dataroom/.gitkeep

# ignore local catalog data
bedrock/results

# ignore bedrock storage directory
bedrock/lancedb

# ignore linked docker volumes
docker-volumes
